body,
html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    user-select: none;
}

a {
    color: rgb(255, 60, 0);
    font-weight: bold;
}

.credits {
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
    padding: 10px;
}

#displayzone {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    canvas {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        //meme couleur que arriere plan pour eviter flash lors de capture de l'image
        background-color: #dcdcdc;
    }
}

#dl_popup {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    padding: 10px;
}

#dl_popup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &.hidden .content {
        transform: scale(0) rotate(45deg);
    }
    .content {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        padding: 20px;
        background-color: white;
        transform: scale(1);
        transition: transform 0.2s;
        //border: 5px #dcdcdc solid;
        .image {
            width: 200px;
            height: 300px;
            overflow: hidden;
            margin: 10px;
            background-color: #dcdcdc;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}