body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: 100%;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #ff744a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  -webkit-transition: background-color 1s, -webkit-transform 1.5s;
  transition: background-color 1s, -webkit-transform 1.5s;
  transition: transform 1.5s, background-color 1s;
  transition: transform 1.5s, background-color 1s, -webkit-transform 1.5s;
  align-items: center;
}

#welcome.hidden {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  background-color: #fff;
  pointer-events: none;
}

#welcome .title {
  text-align: center;
}

#welcome #showoff_container.hidden {
  display: none;
}

#welcome #showoff {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

#welcome #showoff #showoff_img {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 300px;
  height: 300px;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border-radius: 10px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

#welcome #showoff #showoff_txt {
  text-align: center;
  overflow: visible;
  height: 0px;
}

#welcome #showoff.hidden {
  opacity: 0;
}

#welcome #showoff.hidden #showoff_img {
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
}

#welcome #accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#welcome #accueil section.title {
  text-align: center;
}

#welcome #accueil section.title h1 {
  margin: 0px;
}

#welcome #accueil section.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#welcome #accueil section.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  padding: 10px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-height: 500px;
  overflow-y: scroll;
}

#welcome #accueil section.header .left img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#welcome #accueil section.header .right {
  background-color: #0000001a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
}

#welcome #accueil section.header .right > button {
  font-size: 1.5rem;
  background-color: #ff8661;
  -webkit-box-shadow: 0px 0px 10px #ff8661;
          box-shadow: 0px 0px 10px #ff8661;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#welcome #accueil section.header .right > button:hover {
  background-color: #ff744a;
  -webkit-box-shadow: 0px 0px 10px #ff744a;
          box-shadow: 0px 0px 10px #ff744a;
}

#welcome #accueil.hidden {
  display: none;
  opacity: 0;
}

.game_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */