body,
html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    user-select: none;
}

a {
    color: rgb(255, 60, 0);
    font-weight: bold;
}

.credits {
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
    padding: 10px;
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    canvas {
        display:block;
        height: 100%;
        width: 100%;
        object-fit: contain;
        image-rendering: pixelated;
        height:initial;
        //left: 50%;
        //top: 50%;
        //transform: translate(-50%, -50%);
        //meme couleur que arriere plan pour eviter flash lors de capture de l'image
        background-color: #dcdcdc;
    }
}

#dl_popup {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    user-select: none;
}

#dl_popup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    &.hidden {
        background-color: transparent;
        .content {
            transform: scale(0) rotate(-45deg);
        }
    }
    .content {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        padding: 20px;
        background-color: white;
        transform: scale(1) rotate(15deg);
        transition: transform 0.2s;
        //border: 5px #dcdcdc solid;
        .image {
            width: 200px;
            height: 300px;
            overflow: hidden;
            margin: 10px;
            background-color: #dcdcdc;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        #quit {
            display: flex;
            position: fixed;
            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
            color: #3d3d3d;
            transform: translate(30%, -30%);
            background-color: rgb(255, 60, 0);
            box-shadow: 0px 0px 5px rgb(255, 60, 0);
            border-radius: 100%;
            &::before {
                content: "×";
                font-weight: bold;
            }
            justify-content: center;
            align-items: center;
        }
    }
}

#p5_loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}